Repository intel/he-transformer: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, yapf

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v1.4.0
      hooks:
        - id: check-added-large-files
        - id: check-case-conflict
        - id: check-json
        - id: check-merge-conflict
        - id: check-symlinks
        - id: check-yaml
        - id: trailing-whitespace
        - id: end-of-file-fixer
    - repo: local
      hooks:
        - id: clang-format
          name: clang-format
          entry: clang-format
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args: ["-i"]
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --filter=-runtime/references,-readability/nolint,-build/c++11
            - --exclude=./src/seal/opset_he_seal_tbl.hpp ./test/*
        - id: yapf
          name: yapf
          entry: yapf
          language: system
          files: \.py$
          args: [-i]

Fix patch
  cmake/ngraph-tf.patch
Due: none

Fix pragma once
  src/seal/opset_he_seal_tbl.hpp
Due: clang-format, cpplint

Fboemer/precommit2 (#28)
  .pre-commit-config.yaml
  CONTRIB.md
  maint/bash_lib.sh
  maint/clang_format_lib.sh
  maint/yapf_lib.sh
  src/protos/message.proto
  test/test_add.in.cpp
  test/test_avg_pool.in.cpp
  test/test_basics.in.cpp
  test/test_batch_norm_inference.in.cpp
  test/test_broadcast.in.cpp
  test/test_concat.in.cpp
  test/test_constant.in.cpp
  test/test_convolution.in.cpp
  test/test_divide.in.cpp
  test/test_dot.in.cpp
  test/test_exp.in.cpp
  test/test_layers.in.cpp
  test/test_max.in.cpp
  test/test_maxpool.in.cpp
  test/test_minimum.in.cpp
  test/test_multiply.in.cpp
  test/test_negate.in.cpp
  test/test_pad.in.cpp
  test/test_perf_micro.cpp
  test/test_power.in.cpp
  test/test_read_write.in.cpp
  test/test_relu.in.cpp
  test/test_rescale.in.cpp
  test/test_reshape.in.cpp
  test/test_result.in.cpp
  test/test_reverse.in.cpp
  test/test_server_client.in.cpp
  test/test_server_client_gc.in.cpp
  test/test_slice.in.cpp
  test/test_softmax.in.cpp
  test/test_subtract.in.cpp
  test/test_sum.in.cpp
  test/test_util.hpp
Due: clang-format, cpplint

WIP; load is okay, need to support transpose op
  CMakeLists.txt
  cmake/ngraph-onnx.cmake
  cmake/ngraph.cmake
  examples/MNIST/Cryptonets/train.py
  examples/MNIST/test.py
  onnx/README.md
  onnx/cryptonets-fixed.onnx
  onnx/cryptonets.onnx
  onnx/test.py
  out.json
Due: yapf

FusedOpDecomposition to support Transpose op
  onnx/cryptonets-fixed.onnx
  out.json
  src/seal/he_seal_executable.cpp
  test/CMakeLists.txt
  test/test_transpose.in.cpp
Due: clang-format, cpplint

Add Opset0Downgrade pass
  src/seal/he_seal_executable.cpp
Due: clang-format, cpplint

Fixed some minor errors
  README.md
  examples/MNIST/README.md
  examples/README.md
Due: none

WIP for config
  onnx/test.py
Due: yapf

WIP
  src/seal/he_seal_executable.cpp
  src/seal/kernel/add_seal.cpp
  src/seal/kernel/dot_seal.cpp
  src/seal/seal_util.cpp
Due: clang-format, cpplint

Back to normal
  src/seal/kernel/add_seal.cpp
Due: clang-format, cpplint

inline add
  src/seal/kernel/add_seal.cpp
Due: clang-format, cpplint

Extra mod-reduce works
  src/seal/he_seal_executable.cpp
  src/seal/kernel/add_seal.cpp
  src/seal/seal_util.cpp
Due: clang-format, cpplint

Dot is fast with delayed mod
  src/seal/kernel/add_seal.cpp
Due: clang-format, cpplint

Old large dot single-thereaded is ~1460us for dot op
  src/seal/he_seal_executable.cpp
  src/seal/kernel/add_seal.cpp
Due: clang-format, cpplint

new is 1671ms
  src/seal/he_seal_executable.cpp
  src/seal/kernel/add_seal.cpp
Due: clang-format, cpplint

Need to investigate further
  src/seal/kernel/add_seal.cpp
Due: clang-format, cpplint

Integer overflow in add ://
  src/seal/he_seal_executable.cpp
  src/seal/kernel/add_seal.cpp
  src/seal/seal_util.cpp
Due: clang-format, cpplint

Seems to work :o
  src/seal/he_seal_encryption_parameters.cpp
  src/seal/he_seal_executable.cpp
  src/seal/kernel/add_seal.cpp
  src/seal/seal_util.cpp
Due: clang-format, cpplint

Seems to work; pretty good speedup
  src/seal/he_seal_executable.cpp
  src/seal/seal_util.cpp
Due: clang-format, cpplint

Fixed some minor errors (#31)
  README.md
  examples/MNIST/README.md
  examples/README.md
Due: none

WIP
  src/seal/kernel/add_seal.cpp
  src/seal/kernel/dot_seal.cpp
  src/seal/seal_util.cpp
  src/seal/seal_util.hpp
Due: clang-format, cpplint

Added no_copy version; not really faster
  src/seal/he_seal_executable.cpp
  src/seal/kernel/multiply_seal.cpp
  src/seal/mult-times.txt
  src/seal/seal_util.cpp
  src/seal/seal_util.hpp
Due: clang-format, cpplint

mod-reduce to conv also
  src/seal/he_seal_executable.cpp
  src/seal/kernel/mod_reduce_seal.hpp
Due: clang-format, cpplint

Addd LAZY_MOD flag
  examples/MNIST/Cryptonets/train.py
  examples/MNIST/mnist_util.py
  examples/MNIST/test.py
  src/seal/he_seal_backend.hpp
  src/seal/he_seal_executable.cpp
  src/seal/kernel/add_seal.cpp
  src/seal/kernel/multiply_seal.cpp
  src/seal/seal_util.cpp
  src/seal/seal_util.hpp
Due: clang-format, cpplint, yapf

Lazy params work; need first param to be small as well
  configs/he_seal_ckks_config_N13_L7_lazy.json
  examples/MNIST/MLP/train.py
  examples/MNIST/mnist_util.py
  src/seal/he_seal_backend.hpp
  src/seal/he_seal_executable.cpp
  src/seal/kernel/add_seal.cpp
  src/seal/kernel/multiply_seal.cpp
  src/seal/seal_util.cpp
  test/test_convolution.in.cpp
Due: clang-format, cpplint, yapf

Found good params
  configs/he_seal_ckks_config_N13_L7_lazy.json
Due: none

Cleanup
  src/seal/he_seal_encryption_parameters.cpp
  src/seal/mult-times.txt
  src/seal/seal_util.cpp
Due: clang-format, cpplint

Cleanup
  src/seal/kernel/dot_seal.cpp
  src/seal/kernel/multiply_add_seal.hpp
Due: clang-format, cpplint

More cleanup
  src/seal/he_seal_executable.cpp
  src/seal/kernel/dot_seal.cpp
Due: clang-format, cpplint

More cleanup
  cmake/seal.cmake
  examples/MNIST/Cryptonets/train.py
  examples/MNIST/MLP/train.py
  examples/MNIST/mnist_util.py
  examples/MNIST/test.py
Due: yapf

Fboemer/faster dot (#34)
  cmake/seal.cmake
  configs/he_seal_ckks_config_N13_L7_lazy.json
  examples/MNIST/mnist_util.py
  src/seal/he_seal_backend.hpp
  src/seal/he_seal_executable.cpp
  src/seal/kernel/add_seal.cpp
  src/seal/kernel/dot_seal.cpp
  src/seal/kernel/mod_reduce_seal.hpp
  src/seal/kernel/multiply_seal.cpp
  src/seal/seal_util.cpp
  src/seal/seal_util.hpp
  test/test_convolution.in.cpp
  test/test_dot.in.cpp
Due: clang-format, cpplint, yapf

test.py works with plaintext data
  cmake/ngraph-tf.cmake
  cmake/ngraph.cmake
  onnx/test.py
  src/he_tensor.cpp
  src/pass/he_liveness.cpp
  src/pass/propagate_he_annotations.cpp
  src/pass/supported_ops.cpp
  src/seal/he_seal_backend.hpp
  src/seal/he_seal_executable.cpp
  src/seal/kernel/add_seal.cpp
  src/seal/kernel/add_seal.hpp
  src/seal/kernel/constant_seal.cpp
  src/seal/seal_util.cpp
Due: clang-format, cpplint, yapf

Encrypted model works for onnx cryptonets
  onnx/test.py
Due: yapf

Apply code format
  examples/MNIST/Cryptonets/train.py
  examples/MNIST/test.py
Due: yapf

Cleanup
  src/he_tensor.cpp
  src/seal/he_seal_backend.hpp
  src/seal/he_seal_executable.cpp
  src/seal/kernel/add_seal.cpp
  src/seal/seal_util.cpp
Due: clang-format, cpplint

Nothing really
  examples/MNIST/cryptonets-relu/__init__.py
  examples/MNIST/cryptonets-relu/model.py
  examples/MNIST/cryptonets-relu/train.py
  examples/MNIST/cryptonets/__init__.py
  examples/MNIST/cryptonets/model.py
  examples/MNIST/cryptonets/train.py
  examples/MNIST/mlp/__init__.py
  examples/MNIST/mlp/model.py
  examples/MNIST/mlp/train.py
  examples/MNIST/mnist_util.py
  examples/MNIST/test.py
  examples/MobileNetV2/README.md
  examples/MobileNetV2/client.py
  examples/MobileNetV2/get_models.py
  examples/MobileNetV2/test.py
  examples/MobileNetV2/util.py
Due: yapf

Nothing really
  examples/ImageNet/MobileNetV2/README.md
  examples/ImageNet/MobileNetV2/client.py
  examples/ImageNet/MobileNetV2/get_models.py
  examples/ImageNet/MobileNetV2/test.py
  examples/ImageNet/MobileNetV2/util.py
Due: yapf

WIP for onnx option
  CMakeLists.txt
  src/seal/he_seal_executable.cpp
Due: clang-format, cpplint

Added option for ONNX import; cryptonets works
  CMakeLists.txt
  cmake/ngraph.cmake
  examples/MNIST/cryptonets/train.py
  examples/MNIST/mnist_util.py
  onnx/README.md
  onnx/test.py
  src/seal/he_seal_executable.cpp
  src/seal/kernel/constant_seal.cpp
Due: clang-format, cpplint, yapf

Cleanup
  cmake/ngraph-onnx.cmake
  onnx/README.md
  onnx/test.py
  src/seal/kernel/add_seal.cpp
Due: clang-format, cpplint, yapf
